body{
  font-size: 20px;
  background-color: black;
}

.f{
  display: flex;
  justify-content: space-around;
}

.f_r{
  display: flex;
  font-size: 25px;
}


.container_img{
  position: relative;
  text-align:end;
  color: white;
}

.bottom-right {
  position: absolute;
  bottom: 15vh;
  right: 9vw;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.c_img{
  height: 100vh;
}

h1{
  font-size: 10rem!important;
}

.margin{
  color: white;
  margin: 20rem;
  font-size: 2rem;

}

.margin_1 h2{
  font-size: 3rem;
}

.test_margin{
 
  border-color: white;
  border-style: solid;
  border-width: 5px;
  font-size: 20px;
  border-radius: 20px;
}

.text{
  display: flex;
    height: 64vh;
    justify-content: center;
    align-items: center;
}
.text-p{
  display: flex;
  height: 64vh;
  justify-content: center;
  align-items: center;
}

.test_css{
 
  border-color: white;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
}


.text_external {
  padding: 2px;
  margin-top: 5px;
  color: rgb(179, 255, 0);
}



.test_margin .text_dis{
  background:lightblue;
}

.test_pos{
 
  border-color: white;
  border-style: solid;
  border-width: 5px;
  font-size: 20px;
  border-radius: 20px;
}


.pos {
  border: 3px solid #73AD21;
}

.test_grad1{
  border-color: white;
  border-style: solid;
  border-width: 5px;
  font-size: 20px;
  height: 40vh;
  border-radius: 20px;
  background-image: linear-gradient(red, yellow);
}
.test_grad2{
  border-color: white;
  border-style: solid;
  border-width: 5px;
  font-size: 20px;
  height: 40vh;
  border-radius: 20px;
  background-image: linear-gradient(65deg, red, yellow);
}
.test_grad3{
  border-color: white;
  border-style: solid;
  border-width: 5px;
  height: 40vh;
  font-size: 20px;
  border-radius: 20px;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);

}
.row{column-gap: 10px;}